     .login{  padding: 10px;}
	  .btn-default{background-color: #FFF ;border-color: #FFF; text-shadow: none; font-size: 16px}
	  @media(min-width:767px){
		  .header{ width: 400px; margin: 5% auto; margin-bottom: 0;}
		  .login{ width: 400px; margin: 0 auto; background-color: #FFF; padding-bottom: 280px;}
		  .btn-default{background-color: #eee ;border-color: #eee; text-shadow: none}
	  }
	  .login li{ list-style:none; margin-bottom: 10px;}
	  .login li a{width: 100%; display: inline-block}
	  .login li a i{ font-size:20px; }
	  .btn-primary{text-shadow: none; font-size: 16px}

.ajax-btn{width: 100%; margin-top: 10px; padding: 0 10px}
@media(min-width:767px){
	.ajax-btn{width: 400px; margin: 10px auto; padding: 0  }
 }